body {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
}


.saira-heading> {
            font-family: "Saira", sans-serif;
            font-optical-sizing: auto;
            font-weight: 440;
            font-style: normal;
            font-variation-settings:
                    "wdth" 100;
}